
:root {
  --bg: #ffffff;
  --primary:rgb(142, 56, 255); 
  --text: #222222;
  --muted: #717171;
  --border: #ebebeb;
  --accent: #008489;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  padding: 40px;
}

button {
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

button:hover {
  opacity: 0.9;
}
